* {
  margin: 0;
  padding: 0;
}
body {
  font-family: arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  height: 100%;
}

.choosableTitle {
  background-color: transparent;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  z-index: 1000;
  position: relative;
}

.dashboard,
.Links,
.Weather,
.Notes,
.Stocks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  z-index: 1;
  background-color: rgba(240, 240, 240, 0.3);
  gap: 20px;
  border-radius: 15px;
  padding: 25px;
  margin-right: 5px;
  margin-left: 5px;
}

.container {
  /*flex: 1;*/
  /*min-width: 250px;
  min-height: 300px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: calc(100%-10);
  height: 100%;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#note-area {
  flex-grow: 1;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  /*z-index: 1;
  background-color: rgba(240, 240, 240, 0.3);
  border-radius: 15px;
  padding: 25px;*/
  height: calc(100vh - 200px);
  overflow-y: auto;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

#title {
  color: #fff;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#headerConatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#clock {
  background: rgba(240, 240, 240, 0.3); /*linear-gradient(pink, orange);*/
  font-size: 38px;
  color: #fff;
  border-radius: 20px;
  padding: 7px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.7);
  margin-bottom: 40px;
}

.dashboardHeader {
  max-width: 100%;
  margin: 0;
  padding: 20px;
  position: relative;
  z-index: 1;
}

h1 {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 15px;
  font-weight: 200;
}

#link-List {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  gap: 10px;
  text-align: center;
}

#favouriteOptions {
  /*display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 7px;*/
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#favouriteOptions a {
  display: flex;
  align-items: center;
  background-color: #f1efec;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  width: 100%;
}

.iconLogo {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
#weather-Info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#add-link,
#fetchStock,
#find-me {
  background-color: #d0d4ca;
  color: #fff;
  padding: 5px;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.7);
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#find-me {
  font-size: 12px;
  margin: 10px auto o;
}

#symbol,
#link-title,
#link-Url {
  border-radius: 10px;
  padding: 2px;
}
#fetchStock {
  margin-top: 10px;
  margin-bottom: 15px;
}

#add-link {
  /*display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;*/
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.weather-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 5px;
  color: #fff;
}

.weather-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.weather-item img {
  margin-right: 5px;
  width: 30px;
  height: 25px;
}

#note-area {
  width: 100%;
  height: 100px;
}
